*
!ln.py
!my2.zsh-theme

!dunst/
!dunst/**
dunst/*.un~

!alacritty/
!alacritty/**
alacritty/*.un~

!autostart/
!autostart/**
autostart/*.un~

!conky/
!conky/**
conky/*.un~

!i3/
!i3/**
i3/*.un~

!neofetch/
!neofetch/**
neofetch/*.un~

!nvim/
!nvim/init.vim
!nvim/coc-settings.json
!nvim/subconfig/
!nvim/subconfig/**
nvim/subconfig/*.un~
nvim/subconfig/plugconfig/*.un~
nvim/*.un~

!picom/
!picom/**
picom/*.un~

!polybar/
!polybar/**
polybar/themes/
polybar/*.un~

!ranger/
!ranger/**
ranger/history
ranger/*.un~

!rofi/
!rofi/**
rofi/*.un~

!terminator/
!terminator/**
terminator/*.un~

!xborders/
!xborders/**
xborders/*.un~

!.gitignore

!betterlockscreenrc


